<div class="Home-About">
    <div class="Home-About__card">
        <h1>HI</h1>
        <p>Well, this site is about juggling. It's kinda ironic, because I don't juggle very well myself, but since I got that idea and I spent multiple hours building this site, I think it's too late now! Gonna publish it and see what happens. Please contact me at <span>piotrkwietniewski12@gmail.com</span> in case of any issues or bugs. Also, perhaps I should change color palette? DM me.</p>
    </div>
</div>