
<div class="tutorial-index">
    <a asp-controller="Tutorial" asp-action="Video" class="tutorial-index__link">
        <img src="https://jugglewebappstorage.blob.core.windows.net/default/cinema-borders.jpg" alt="Video" width="500" height="500">
    </a>
    <a asp-controller="Tutorial" asp-action="Text" class="tutorial-index__link">
        <img src="https://jugglewebappstorage.blob.core.windows.net/default/quotes - borders.jpg" alt="Text" width="500" height="500">
    </a>
</div>
