
<div class="tutorial-index">
    <a asp-controller="Tutorial" asp-action="Video" class="tutorial-index__link">
        <img src="https://i.pinimg.com/736x/73/40/6b/73406b9264529b38dba43a365b381c2c.jpg" alt="Video" width="500" height="500">
    </a>
    <a asp-controller="Tutorial" asp-action="Text" class="tutorial-index__link">
        <img src="https://cdn.wallpapersafari.com/15/84/QpZ6bf.jpg" alt="Text" width="500" height="500">
    </a>
</div>
