<style>
    /* Style the container for the images and text */
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0;
    }

        /* Style the images */
        .image-container img {
            width: 200px;
            height: 200px;
            margin: 10px;
            border-radius: 10px;
            float: left;
        }

        /* Style the text */
        .image-container p {
            margin: 0;
            text-align: justify;
        }

        /* Clear the float after each image */
        .image-container:after {
            content: "";
            display: table;
            clear: both;
        }
</style>

<div class="image-container">
    <img src="https://picsum.photos/200" alt="Image 1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    <img src="https://picsum.photos/201" alt="Image 2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    <img src="https://picsum.photos/202" alt="Image 3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    <img src="https://picsum.photos/203" alt="Image 4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    <img src="https://picsum.photos/204" alt="Image 5">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    <img src="https://picsum.photos/205" alt="Image 6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    <img src="https://picsum.photos/202" alt="Image 7">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    <img src="https://picsum.photos/203" alt="Image 8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    <img src="https://picsum.photos/204" alt="Image 9">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    <img src="https://picsum.photos/205" alt="Image 10">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla sapien. Sed ultrices congue augue, vel luctus augue dictum quis. Nulla blandit tincidunt nisl vel bibendum. Nam sed vestibulum nisl.</p>
    </div>
