@using JuggleWebApp.ViewModels;
@model EditProfileViewModel;

<div class="Profile-Edit">
    <form class="Profile-Edit__card" method="post" asp-controller="Profile" asp-action="Edit" enctype="multipart/form-data">
        <label asp-for="Name">Title</label>
        <input asp-for="Name" class="form-control" placeholder="Enter Name">
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" placeholder="Enter Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Enter Image">
        <span asp-validation-for="Image" class="text-danger"></span>

        <input type="hidden" asp-for="UserName" />
        <input type="hidden" asp-for="ImageURL" />
        <button type="submit">Submit</button>
    </form>
</div>